* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  max-width: 50rem;
  padding-top: 2rem;
  text-align: center;
}

main {
  padding-inline: 2rem;
}

.owner {
  font-family: "Allura", cursive;
  font-size: 3rem;
}

.list-name {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.list-desc {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-bottom: 2rem;
  padding-block: 0.5rem;
}

@media screen and (min-width: 800px) {
  body {
    margin: auto;
  }
}
